@page
@model Presentacion.Pages.LoginModel
@{
}
<h1>Create</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <input type="text" asp-for="us" class="form-control" />
                <span class="text-danger">@Model.MensajeUsuario</span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input type="password" asp-for="@Model.Contrasenia" class="form-control" />
                <span class="text-danger">@Model.MensajeContrasenia</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ingresar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
